#galerie {
background-image: url(images/backgrounds/gal-background.png); 
padding-top: 156px; 
padding-bottom: 120px; 

}

/* ------- HEAD  ------- */


#galerie .head {
margin: 0 auto; 
width: 70%; 
}

#galerie .head h2 {
color: #0f9095;
font: 28px Verdana;  
font-weight: bold; 
}

#galerie .head .untertitel{
color: #999999;
font: 16px helvetica, sans-serif; 

}

#galerie .head .intro {
font: 20px/36px helvetica, sans-serif; 
color: #57606B;
}

/* ----- HEAD ENDE ----- */

/* ------- INHALT ------- */


#galerie .inhalt {
margin-top: 36px; 
width: 70%; 
margin: 0 auto;
}

#galerie .inhalt .bild {
float: left;
display: block; 
margin-bottom: 2%;
margin-top: 5%;
margin-right: 3.2%;
position: relative; 
}
#galerie .inhalt .bild  img {
width: 240px;
height: 200px; 
margin-right: 0; 

}

#galerie .inhalt .bild-untertitel {
color: #0f9095;
font-weight: bold; 
font: 16px helvetica, sans-serif; 
}

#galerie .inhalt .bild-rechts  {

float: right; 
margin-bottom: 2%;
margin-top: 5%;
position: relativ; 

} 

#galerie .inhalt .bild-rechts img {

width: 240px;
height: 200px;

}

/* ----- INHALT ENDE ----- */
