#leistungen{
	background-image: url(images/backgrounds/leist-background.png); 
	padding-top: 156px; 
	padding-bottom: 120px; 
	
	}

	
/* ------- HEAD  ------- */

	
#leistungen .head {
margin: 0 auto; 
width: 70%; 
}

#leistungen .head .box-links{

width: 33.33333%;
position: relative; 
float: left; 
vertical-align: baseline; 
}
#leistungen .leistungen .box-rechts {

width: 66.66667%;
float: right; 
}

#leistungen .head h2 { 
color: #11ABB0; 
font: 28px Verdana;  
font-weight: bold; 

}
#leistungen .head .untertitel {
color: #999999; 
font: 16px helvetica, sans-serif; 

}
#leistungen .head .intro { 
color: #57606B; 
font: 20px/36px helvetica, sans-serif; 
}


/* ----- HEAD ENDE ----- */

/* ------- INHALT ------- */


#leistungen .inhalt {
margin-top: 42px; 
margin: 0 auto; 
width: 70%;
}

#leistungen .inhalt .box  {
width: 50%;
margin-bottom: 3%; 
margin-top: 3%;
position: relative; 
float: left; 
}

#leistungen .inhalt h2 {
font: 14px Verdana; 
letter-spacing: 1.5px; 
text-transform: uppercase; 
color: #FFFFFF; 
margin-bottom: 18px;
}

#leistungen .inhalt .box img {
width: 110px;
height: 110px;
display: block; 			/*block und auto,auto das Bild in der Mitte bleibt */
margin-left: auto;
margin-right: auto;
}

#leistungen .inhalt .box p {
width: 90%;
font-size: 16px; 
font: 16px helvetica;
line-height: 40px; 
color: #C4C4C4;

}

#leistungen .inhalt .bild {
width: 90%;
}

/* ----- INHALT ENDE ----- */

