#ueberuns{
background-image: url(images/backgrounds/gal-background.png); 
	padding-top: 156px; 
	padding-bottom: 120px; 
	
	}

/* ------- HEAD  ------- */
	
#ueberuns .head {
margin: 0 auto; 
width: 70%; 
}

#ueberuns .head .box-links{

width: 33.33333%;
position: relative; 
float: left; 
vertical-align: baseline; 
}
#ueberuns .head .box-rechts {

width: 66.66667%;
float: right; 
}

#ueberuns .head  h2 { 
color: #0f9095;
font: 28px Verdana;  
font-weight: bold; 
}

#ueberuns .head .intro { 
font: 20px/36px helvetica, sans-serif; 
color: #57606B;
}

#ueberuns .head .untertitel {
color: #999999;
font: 16px helvetica, sans-serif; 
}

/* ### HEAD ENDE ### */





/* ### START Process-inhalt ### */ 

#ueberuns .process-inhalt {
width: 70%; 
position: relativ; 
margin: 0 auto; 
margin-top: 5%;
}

#ueberuns .process-inhalt h3 {
color: #313131;
font: 20px Verdana;  
}

#ueberuns .process-inhalt .box{

width: 25%;
margin-bottom: 3%; 
margin-top: 3%;
position: relative; 
float: left; 
}

#ueberuns .process-inhalt .box p{
width: 90%;
color: #57606B;
font: 13px/22px helvetica, sans-serif; 
letter-spacing: 1.5px; 

}

#ueberuns .process-inhalt .box h4 {
text-transform: uppercase; 
color: #0f9095;
font: 13px Verdana, bold;  
font-weight: bold; 
}

/* ### ENDE Process ### */



/* ### START TEAM ### */
#ueberuns .team .head {

width: 70%; 
position: relativ; 
margin: 0 auto; 
margin-top: 5%;
}


#ueberuns .team .head h3 {
color: #313131;
font: 20px Verdana; 
 
}

#ueberuns .team .head img {
margin-top: 3%;
width: 100%;
}

#ueberuns .team .inhalt {

width: 70%; 
position: relativ; 
margin: 0 auto; 
margin-top: 5%;
}

#ueberuns .team .inhalt span{
font: 13px/22px helvetica, sans-serif; 
position: relative;
   top: -10px;
   font-size: 13px;
   line-height: 18px;
   color: #969696;
}

#ueberuns .team .inhalt h4{
   font: 14px/24px  sans-serif;
color: #0f9095;
}

#ueberuns .team .box {
float: left; 
margin-top: 1%;
margin-right: 6.2%;

}

#ueberuns .box img {

width: 216px; 
height: 225px; 
}

#ueberuns .box-rechts   {

float: right; 
margin-bottom: 1%;
margin-top: 1%;
position: relativ; 
} 
#ueberuns .box-rechts img {

width: 216px; 
height: 225px; 

}
